/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    background: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: white;   
    font-size: 18px;       
}

header nav ul {
    display: flex;
    list-style: none;               
    margin: 0;
    padding: 0;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #000000;  
    font: 18px;  
    color: #6b7280;
                 
}

header nav a:hover{
    color: #5A67D8;
}

.overview-hero .container{
    background: #E2E8F0;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background: white;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cards .card:nth-child(1) img {
    content: url("images/card1.jpg"); 
}

.cards .card:nth-child(2) img {
    content: url("images/card2.jpg");
}


.cards .card:nth-child(3) img {
    content: url("images/card3.jpg");
}

.overview-hero-image{
    width: 70%;
    min-height: 300px;
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
}

.testing .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 30px;
}

.testing-desciption{
    max-width: 65%;
}

.cta .btn{
    padding: 12px 25px;
    background: #0077cc;
    color: #fff;
    border-radius: 5px;
}

.stories article{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.stories article:nth-child(2) img {
    content: url("images/Article1.jpg");  
    width: 350px;
    height: 150px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 100px;
}

.stories article:nth-child(3) img {
    content: url("images/Article2.jpg");
    width: 350px;
    height: 150px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 100px;
}

.newsletter{
    padding: 50px 0;
    margin-bottom: 0;
}

.newsletter .container {
    max-width: 970px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0; 
    background: #48BB78;
}

.newsletter h3{
    margin-bottom: 15px;
    padding-top: 30px;
}

.newsletter p{
   padding-left: 25%;
   padding-right: 25%;
   text-align: left;
    
}

.newsletter form {
    display: flex;
    justify-content: center; 
    gap: 10px;              
    max-width: 100%;
}

.newsletter input[type="email"] {
    padding: 20px;
    width: 300px;
    max-width: 100%;
    flex: 1;          
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter .btn {
    padding: 10px 40px;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter .message {
    margin-top: 15px;  /* spacing below form */
}

footer{
    padding: 30px 0;
    background: #eb3636;

}

footer .container{
    padding-left:100px;
}
