body {
    margin: 0;
    font-size: 16px;
    background: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: white;  
    font-size: 18px;
}

header nav ul {
    display: flex;
    list-style: none;               
    margin: 0;
    padding: 0;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #6b7280;
                 
}

header nav a:hover{
    color: #5A67D8;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.overview-hero{
    background: #E2E8F0;
}

.overview-hero .container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px 60px;
}

.overview-hero .container p{
    margin-right: 70px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background: white;
    text-align: left;
    border-radius: 5px;
    box-shadow:3px 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border: 1px solid #ffffff;
    border-color: #E2E8F0;
    cursor: pointer;
}

.card h3{
    color: #48BB78;
    font-size: 21px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.3);

}

.cards .card:nth-child(1) img {
    content: url("images/card1.jpg"); 
}

.cards .card:nth-child(2) img {
    content: url("images/card2.jpg");
}


.cards .card:nth-child(3) img {
    content: url("images/card3.jpg");
}

.overview-hero-image{
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat; 
    width: 400px;
    height: 200px;
    background-size: contain;
    background-position: center;
    padding-left: 20px;
    margin-left: 20px;
}

.testing{
    background: #4A5568;
}

.testing .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 25px;
    padding: 70px 100px;
}

.testing-desciption{
    max-width: 65%;
    color: white;
}

.cta .btn{
    margin-right: 80px;
}

.cta .btn,  .cta .btn a{
    padding: 12px 30px;
    background: #48BB78;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.stories article{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.stories h2, .stories article a{
    color: #5A67D8;
    text-decoration: none;
}

.article-body h3{
    font-size: 18px;
}

.stories article:nth-child(2) img {
    content: url("images/Article1.jpg");  

}

.stories article:nth-child(3) img {
    content: url("images/Article2.jpg");
}

.stories article img{
    width: 350px;
    height: 150px;
    margin-top: 40px;
    object-fit: cover;
    border-radius: 100px;
}

.newsletter{
    background: #48BB78;
    padding: 10px 0px;
}

.newsletter .container {
    max-width: 960px;
    height: 250px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.newsletter h3{
    margin-bottom: 15px;
    padding-top: 30px;
}

.newsletter p{
   padding-left: 25%;
   padding-right: 25%;
   text-align: left;
    
}

.newsletter form {
    display: flex;
    justify-content: center; 
    gap: 10px;              
    max-width: 100%;
}

.newsletter input[type="email"] {
    padding: 20px;
    width: 300px;
    max-width: 100%;
    flex: 1;          
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter .btn {
    padding: 10px 40px;
    background-color: #5A67D8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.newsletter .message {
    margin-top: 15px;  
}

footer{
    background: #4A5568;
}

footer .container{
    padding:30px 100px;
    color:white;
}